<!DOCTYPE html>
<html>
  <head>
    <title>Password Reset</title>
    <style>
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
      label, input[type="submit"] {
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <form action="http://localhost:3001/auth/new-password" method="post">
      <h1>Password Reset</h1>
      <label for="new_password">New Password:</label>
      <input type="password" id="new_password" name="new_password">
      <label for="confirm_new_password">Confirm New Password:</label>
      <input type="password" id="confirm_new_password" name="confirm_new_password">
      <input type="hidden" id="token" name="token" value=<%= token %>>
      <input type="submit" id="submit-btn" value="Submit">
    </form>
  </body>
  <script>
    const submitBtn = document.getElementById("submit-btn");
    submitBtn.addEventListener("click", function(event) {
      const newPassword = document.getElementById("new_password").value;
      const confirmNewPassword = document.getElementById("confirm_new_password").value;
      if (newPassword !== confirmNewPassword) {
        event.preventDefault();
        alert("New password and Confirm new password must have the same value");
      }
    });
  </script>
</html>
