<!DOCTYPE html>
<html>
  <head>
    <title>Password Reset</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
    </style>
  </head>
  <body>
      <h5>Password Reset Success</h5>
  </body>
</html>
