<!DOCTYPE html>
<html>
  <head>
    <title>Link is expired</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
    </style>
  </head>
  <body>
      <h5>Link is expired or has been used. Please generate new link from your app.</h5>
  </body>
</html>
